flask
flask-security
flask-restful
flask-cors
flask-sqlalchemy
flask-migrate
flask-script
flask-jwt
marshmallow
marshmallow_jsonapi
psycopg2
plotly
dash
gunicorn
Werkzeug
dash_bootstrap_components
gevent
tweepy